.nav {
  background-color: #FFFFFF;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.nav img{
  position: absolute;
  width: 124.32px;
  height: 40px;
  left: 107px;
  top: 28.76px;
}
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
.heading{
  font: Inter;
  font-size: 48px;
  font-weight: 700;
}
.split{
	height: 100%;
	width: 50%;
	position: relative;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}
.left{
  top:176px;
  left: 121px;
  width:591px;
}
.right{
  position: absolute;
  width: 720px;
  height: 720px;
  left: 720px;
  top: 176px;
  background: url(6.png);
}